.mailandContactBox_content__OENNL {
    width: 100%
}

@media(min-width:992px) {
    .mailandContactBox_content__OENNL {
        margin-bottom: 2.5rem
    }
}

.mailandContactBox_content__OENNL p {
    line-height: 1.5
}

@media(min-width:992px) {
    .mailandContactBox_content__OENNL p {
        line-height: 1.67
    }
}

.mailandContactBox_content__OENNL p a {
    -webkit-text-decoration: underline 1px transparent;
    text-decoration: underline 1px transparent;
    font-weight: 500;
    transition: all .3s ease-in-out;
    white-space: nowrap
}

.mailandContactBox_content__OENNL p a:hover {
    -webkit-text-decoration-color: #000;
    text-decoration-color: #000
}

.techList_list_wrapper__insBV {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px
}

@media(min-width:992px) {
    .techList_list_wrapper__insBV {
        padding-top: 2.2222222222rem
    }
}

.techList_list_wrapper__insBV ul {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0
}

.techList_list_wrapper__insBV ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b6b6b6;
    padding-top: .8888888889rem;
    padding-bottom: .8888888889rem;
    gap: 10px
}

.techList_list_wrapper__insBV ul li:first-child {
    border-top: 1px solid #b6b6b6
}

.techList_list_wrapper__insBV ul li p {
    margin-bottom: 0;
    font-size: 1rem;
    margin-top: 0
}

.techList_list_wrapper__insBV ul li p:nth-child(2) {
    font-weight: 500;
    text-align: right
}

.toolbar_dropdown__tl0h0 {
    position: relative
}

.toolbar_dropdown__tl0h0:after {
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 22px;
    display: block;
    position: absolute;
    pointer-events: none
}

.toolbar_dropdown__tl0h0 ul {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    background-color: #fff;
    z-index: 11;
    border: 1px solid #e6e6e6;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all .3s ease
}

.toolbar_dropdown__tl0h0 ul li {
    position: relative
}

.toolbar_dropdown__tl0h0 ul li:last-of-type button {
    padding-right: 0
}

.toolbar_dropdown__tl0h0 ul li button {
    background-color: transparent !important;
    border: none !important;
    font-size: 12px !important;
    text-align: left !important;
    white-space: nowrap !important;
    width: 100% !important;
    padding: 7px 17px !important;
    display: flex !important;
    align-items: center !important;
    transition: background-color .3s ease
}

.toolbar_dropdown__tl0h0 ul li button:hover {
    background-color: #ededed !important
}

.toolbar_dropdown__tl0h0 ul li button svg {
    margin-right: 12px
}

.toolbar_dropdown__tl0h0 ul li button span {
    display: flex;
    width: 30px
}

.toolbar_dropdown__tl0h0:hover:after {
    pointer-events: all
}

.toolbar_dropdown__tl0h0:hover ul {
    visibility: visible;
    opacity: 1;
    transform: none
}

.toolbar_toolbar__YMoBl {
    display: inline-flex
}

.toolbar_toolbar_insight__93_3i>li:before {
    display: none
}

.toolbar_toolbar_insight__93_3i>li>button {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 0;
    margin-left: 15px
}

.toolbar_toolbar__YMoBl>li:before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #eee
}

.toolbar_toolbar__YMoBl>li:last-of-type:before {
    display: none
}

.toolbar_toolbar__YMoBl li {
    position: relative
}

.toolbar_toolbar__YMoBl button {
    border: none;
    background-color: transparent;
    padding: 0 20px
}

.toolbar_toolbar__YMoBl button path {
    transition: all .3s ease
}

.toolbar_btn_save_active__kQUeI svg path {
    fill: #013ad6 !important;
    stroke: #013ad6 !important
}

.toolbar_dropdown__tl0h0 button {
    position: relative
}

.toolbar_dropdown__tl0h0 .toolbar_copied__sVaH_ {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    pointer-events: none;
    font-size: .6666666667rem;
    line-height: 1;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 3px;
    white-space: nowrap;
    margin: auto;
    height: max-content;
    padding: .4444444444rem .8333333333rem
}

.toolbar_dropdown__tl0h0 .toolbar_copied__sVaH_:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--dark);
    margin: 0 0 15px;
    position: absolute;
    right: -4px
}

.toolbar_save_icon__ylE4Q path {
    stroke: #767676;
    stroke-width: 2px
}

.videoPopUp_videoModal__VWyJS {
    --modal-width: 56.8888888889rem
}

@media screen and (min-width:992px)and (max-width:1199.98px) {
    .videoPopUp_videoModal__VWyJS {
        --modal-width: 95%
    }
}

.videoPopUp_videoModal__VWyJS .modal-body {
    padding: 0
}

.videoPopUp_videoModal__VWyJS .modal-body video {
    display: block
}

@media screen and (max-width:1199.98px) {
    .videoPopUp_videoModal__VWyJS .modal-dialog {
        max-width: 140vmin
    }
}

@media(min-width:576px) {
    .videoPopUp_videoModal__VWyJS .modal-dialog {
        padding: 30px
    }
}

@media(min-width:1200px) {
    .videoPopUp_videoModal__VWyJS .modal-dialog {
        padding: 0
    }
}

.videoPopUp_videoModal__VWyJS .modal-content {
    margin-left: auto;
    margin-right: auto
}

.videoPopUp_videoModal__VWyJS .modal-header {
    padding: 0;
    border: none
}

.videoPopUp_videoModal__VWyJS .modal-header button {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: -35px;
    z-index: 1;
    opacity: .6;
    background-size: .6111111111rem;
    filter: invert(1);
    transition: filter .3s ease-in-out;
    background-color: hsla(0, 0%, 100%, .6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

@media(min-width:768px) {
    .videoPopUp_videoModal__VWyJS .modal-header button {
        --size: 30px;
        opacity: 1;
        right: .3888888889rem;
        top: 0;
        transform: translate(40%, -30%);
        filter: invert(0);
        border: 1px solid hsla(0, 0%, 93%, .77)
    }
}

.videoPopUp_videoModal__VWyJS .modal-header button:hover {
    filter: invert(1)
}

.videoPopUp_play_overlay__Z_JLw {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0
}

.videoPopUp_play_btn__1JOXu {
    --size: 40px;
    --bg: hsla(0, 0%, 100%, .33);
    --color: #fff;
    width: var(--size);
    height: var(--size);
    border: none;
    background: var(--bg);
    border-radius: 50%;
    transition: all .3s cubic-bezier(.53, -.02, .5, 1.01);
    transform: scale(1);
    will-change: transform;
    padding: 0
}

.videoPopUp_play_btn__1JOXu>.videoPopUp_icon__el0XM {
    margin-right: 0 !important
}

.videoPopUp_play_btn__1JOXu svg {
    fill: var(--color);
    transform: scale(.8)
}

@media(min-width:992px) {
    .videoPopUp_play_btn__1JOXu:hover {
        transform: scale(1.1)
    }
}

.videoPopUp_play_btn__1JOXu:active {
    transform: scale(.9);
    transition: .2s
}

.videoPopUp_play_btn__1JOXu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media(min-width:992px) {
    .videoPopUp_play_btn__1JOXu {
        --size: 3.3333333333rem;
        --gap: 1.6666666667rem
    }
}

.videoPopUp_btn_seo__2x6WL {
    --size: 75px;
    --bg: #fff;
    --color: #000;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1)
}

@media(min-width:992px) {
    .videoPopUp_btn_seo__2x6WL {
        --size: 100px
    }
    .videoPopUp_btn_seo__2x6WL:hover {
        transform: translate(-50%, -50%) scale(1.1)
    }
}

.videoPopUp_btn_seo__2x6WL:active {
    transform: translate(-50%, -50%) scale(.9);
    transition: .2s
}

.clientTestimonialBlock_testimonial_box__nwFfp {
    position: relative
}

@media screen and (min-width:992px) {
    .clientTestimonialBlock_testimonial_box__nwFfp {
        max-width: 90%
    }
}

@media screen and (min-width:1200px) {
    .clientTestimonialBlock_testimonial_box__nwFfp {
        max-width: 96%
    }
}

.clientTestimonialBlock_testimonial_box_section__1Hz3N {
    --bg: #fff;
    background-color: var(--bg);
    padding-top: 30px
}

@media(min-width:992px) {
    .clientTestimonialBlock_testimonial_box_section__1Hz3N {
        padding-top: 3.4444444444rem;
        padding-bottom: 3.1666666667rem
    }
}

.clientTestimonialBlock_testimonial_box__contents__a4dxB {
    padding: 30px 0;
    color: var(--color)
}

@media screen and (min-width:576px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB {
        padding: 3.3333333333rem 0
    }
}

@media(min-width:992px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB {
        background-color: #292b33;
        color: #fff;
        padding: 35px 24% 35px 47px;
        min-height: 275px;
        display: flex;
        align-items: center
    }
}

@media screen and (min-width:992px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO {
        max-width: 470px
    }
}

@media screen and (min-width:1300px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO {
        max-width: 600px
    }
}

@media screen and (min-width:1600px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO {
        max-width: 782px
    }
}

.clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_quote_icon__PLSNI {
    --size: 18px;
    width: var(--size);
    height: var(--size);
    margin-bottom: .7222222222rem
}

.clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_quote__cv9Ef {
    font-size: 16px;
    line-height: 1.4285714286;
    font-weight: 300;
    margin-bottom: 25px
}

@media screen and (min-width:992px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_quote__cv9Ef {
        margin-bottom: 20px;
        font-size: 1rem
    }
}

@media screen and (min-width:1200px) {
    .clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_quote__cv9Ef {
        line-height: 1.6
    }
}

.clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_author__name__otve_ {
    font-size: .8888888889rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: .5rem
}

.clientTestimonialBlock_testimonial_box__contents__a4dxB .clientTestimonialBlock_contents_inner__xGxMO .clientTestimonialBlock_testimonial_author__designation__GMlJv {
    font-size: 12px;
    line-height: 1;
    font-weight: 400
}

.clientTestimonialBlock_testimonial_box__image__T3gEI {
    --aspect-ratio: 100%;
    margin-bottom: 0;
    width: 500px;
    max-width: 100%
}

.clientTestimonialBlock_testimonial_box__image__T3gEI img {
    object-fit: cover
}

@media screen and (min-width:992px) {
    .clientTestimonialBlock_testimonial_box__image__T3gEI {
        --aspect-ratio: calc(294 / 201 * 100%);
        position: absolute;
        top: 0;
        right: 0;
        width: 201px;
        transform: translate(20%, -15%);
        max-width: 25%
    }
}

.clientTestimonialBlock_testimonial_video__xOUmr {
    display: flex;
    --size: 40px;
    align-items: center;
    justify-content: center
}

.workOffcanvas_offcanvas__cxYAd {
    --offcanvas-width: 100vw;
    --image-ratio: 85%;
    --offcanvas-padding-x: 0;
    --offcanvas-padding-y: 0;
    transition: all .48s ease-in-out;
    --padding-x: 20px;
    --padding-y: 20px
}

@media(min-width:768px) {
    .workOffcanvas_offcanvas__cxYAd {
        --padding-x: 40px;
        --padding-y: 40px
    }
}

@media(min-width:992px) {
    .workOffcanvas_offcanvas__cxYAd {
        --padding-x: 3.2222222222rem;
        --padding-y: 3.8888888889rem
    }
}

@media(min-width:768px) {
    .workOffcanvas_offcanvas__cxYAd {
        --offcanvas-width: 90vw;
        --image-ratio: 50%
    }
}

@media(min-width:992px) {
    .workOffcanvas_offcanvas__cxYAd {
        --offcanvas-width: 43rem;
        --image-ratio: 47.157622739%
    }
}

@media(min-width:1600px) {
    .workOffcanvas_offcanvas__cxYAd {
        --offcanvas-width: 55.5555555556rem
    }
}

.workOffcanvas_offcanvas__cxYAd .offcanvas-header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99
}

@media(min-width:992px) {
    .workOffcanvas_offcanvas__cxYAd .offcanvas-header {
        top: 15px;
        right: 15px
    }
}

.workOffcanvas_offcanvas__cxYAd .offcanvas-header button {
    --btn-size: 1.6666666667rem;
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: .3888888889rem;
    top: 0;
    opacity: 1;
    background-size: .6111111111rem;
    background-color: hsla(0, 0%, 100%, .6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(0, 0%, 93%, .77);
    transition: all .3s ease-in-out;
    --btn-close-focus-shadow: none
}

@media(min-width:992px) {
    .workOffcanvas_offcanvas__cxYAd .offcanvas-header button {
        --btn-size: 2.2222222222rem
    }
}

.workOffcanvas_offcanvas__cxYAd .offcanvas-header button:hover {
    filter: invert(1)
}

.workOffcanvas_into_wrapper__MK_NV {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 5rem
}

.workOffcanvas_image_wrapper__sSNEL {
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.workOffcanvas_image_wrapper__sSNEL .workOffcanvas_image_container__0C_WC {
    width: 100%;
    position: relative;
    background-color: #eee
}

.workOffcanvas_image_wrapper__sSNEL .workOffcanvas_image_container__0C_WC:after {
    content: "";
    width: 100%;
    position: relative;
    padding-bottom: var(--image-ratio);
    display: flex
}

.workOffcanvas_image_wrapper__sSNEL .workOffcanvas_image_container__0C_WC img {
    object-fit: cover
}

.workOffcanvas_content_wrapper__U0DVn {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--padding-y) var(--padding-x) 0
}

.workOffcanvas_content_wrapper__U0DVn .workOffcanvas_intro_description__hEXAM {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 3.1111111111rem
}

.workOffcanvas_content_wrapper__U0DVn p {
    margin-bottom: 0
}

.workOffcanvas_content_wrapper__U0DVn p~p {
    margin-top: 1.9444444444rem
}

.workOffcanvas_work_link__gDtop {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding-left: 0;
    color: #000;
    padding-right: 0
}

.workOffcanvas_work_link__gDtop:after {
    content: "/";
    display: inline-block;
    padding: 0 5px;
    color: inherit
}

.workOffcanvas_work_link__gDtop:last-of-type:after {
    display: none
}

.workOffcanvas_content_dynamic__nYa28 {
    width: 100%;
    position: relative;
    display: flex;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.45
}

.workOffcanvas_action_wrapper__Vh5FS {
    width: var(--offcanvas-width);
    display: flex;
    position: fixed;
    bottom: 0;
    flex-wrap: wrap;
    gap: 20px;
    right: -.5px;
    margin-top: 3.0555555556rem;
    background-color: #fff;
    padding: 15px var(--padding-x);
    border-top: 1px solid #e1e1e1
}

@media(min-width:768px) {
    .workOffcanvas_action_wrapper__Vh5FS {
        padding: 15px var(--padding-x) 30px
    }
}

@media(min-width:992px) {
    .workOffcanvas_action_wrapper__Vh5FS {
        --gap: 0px;
        right: var(--gap);
        width: calc(var(--offcanvas-width) - var(--gap));
        margin-top: 3.0555555556rem;
        gap: .8333333333rem;
        padding: 15px var(--padding-x) 30px
    }
}

@media screen and (max-width:575.98px) {
    .workOffcanvas_action_wrapper__Vh5FS>* {
        flex: 1 0;
        padding: 15px;
        font-size: 16px
    }
}

.workOffcanvas_offset_canvas__O2zLk,
.workOffcanvas_service_provided__naKal {
    width: 100%;
    display: flex;
    flex-direction: column
}

.workOffcanvas_service_provided__naKal {
    --padding-y: 0rem;
    position: relative;
    padding: 0 var(--padding-x) var(--padding-y)
}

@media(min-width:992px) {
    .workOffcanvas_service_provided__naKal {
        --padding-y: 0rem
    }
}

.workOffcanvas_service_provided__naKal+.workOffcanvas_image_cluster__F3t11 {
    margin-top: 1.1111111111rem
}

.workOffcanvas_service_provided__naKal h3+ul {
    margin-top: 1.6666666667rem
}

.workOffcanvas_service_provided__naKal ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0
}

.workOffcanvas_service_provided__naKal ul li {
    width: auto
}

.workOffcanvas_service_provided__naKal ul li .workOffcanvas_link__uP_cb {
    --border: 1px solid var(--dark);
    border: var(--border);
    padding: .3888888889rem .6666666667rem;
    display: block;
    border-radius: 2.7777777778rem;
    margin-right: .7777777778rem;
    margin-bottom: .7777777778rem;
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease-in-out;
    font-size: 14px
}

@media(min-width:992px) {
    .workOffcanvas_service_provided__naKal ul li .workOffcanvas_link__uP_cb {
        font-size: .8888888889rem;
        margin-bottom: 1.1666666667rem;
        padding: .5555555556rem 1.1111111111rem;
        margin-right: 1.1666666667rem
    }
}

.workOffcanvas_service_provided__naKal ul li .workOffcanvas_link__uP_cb:hover {
    background-color: var(--dark);
    color: var(--light)
}

.workOffcanvas_image_cluster__F3t11 {
    width: 100%;
    display: flex;
    flex-direction: column
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_multiple_image__8ERrP {
    width: 100%;
    display: flex;
    gap: .5555555556rem;
    margin-bottom: .5555555556rem
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_multiple_image__8ERrP .workOffcanvas_images__GkMfQ {
    width: 50%;
    position: relative;
    background-color: #eee
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_multiple_image__8ERrP .workOffcanvas_images__GkMfQ img {
    object-fit: cover
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_multiple_image__8ERrP .workOffcanvas_images__GkMfQ:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 113.3507853403%
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_main_image__4GGqm {
    width: 100%;
    margin-bottom: .5555555556rem
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_main_image__4GGqm .workOffcanvas_images__GkMfQ {
    width: 100%;
    position: relative;
    background-color: #eee
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_main_image__4GGqm .workOffcanvas_images__GkMfQ img {
    object-fit: cover
}

.workOffcanvas_image_cluster__F3t11 .workOffcanvas_main_image__4GGqm .workOffcanvas_images__GkMfQ:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 53.488372093%
}

.workOffcanvas_connect__yCCv3 {
    width: 100%;
    padding: var(--padding-y) var(--padding-x)
}

.workOffcanvas_connect__yCCv3 .workOffcanvas_connect_inner__FjaMo {
    max-width: 28.3333333333rem;
    display: flex;
    flex-direction: column;
    position: relative
}

.workOffcanvas_connect__yCCv3 .workOffcanvas_action_wrapper__Vh5FS {
    margin-top: 2.2222222222rem
}

.workOffcanvas_transition__4SU0S {
    --delay: 0.5s;
    position: fixed;
    z-index: 1046;
    right: 0;
    top: 0;
    width: 52.1%;
    height: 43.4%;
    transform-origin: top right;
    transition: .8s all cubic-bezier(.75, -.01, .23, 1) var(--delay);
    will-change: width, height;
    overflow: hidden;
    pointer-events: none
}

.workOffcanvas_transition_item__lk1T0 {
    height: 100%;
    width: calc(100% - 0px);
    position: absolute;
    left: 0;
    top: 0
}

.workOffcanvas_transition_item__lk1T0 img {
    opacity: 0;
    transition: .1s opacity ease var(--delay);
    will-change: transform
}

.workOffcanvas_transition_animated__eJCBa {
    transform: scale(1);
    height: 100% !important;
    width: 100% !important
}

.workOffcanvas_transition_animated__eJCBa img {
    opacity: 1
}

.workOffcanvas_transition__4SU0S img {
    object-fit: cover
}

.workOffcanvas_loadingAnimation__lO652 {
    font-size: 0;
    width: 100%;
    height: 2px;
    position: relative;
    overflow: hidden;
    opacity: .5
}

.workOffcanvas_loadingAnimation__lO652:after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--dark);
    animation: workOffcanvas_mymove__dRndS 1.2s linear infinite;
    transform: translate3d(-100%, 0, 0)
}

@keyframes workOffcanvas_mymove__dRndS {
    0% {
        transform: translate3d(-100%, 0, 0)
    }
    90% {
        transform: translate3d(105%, 0, 0);
        opacity: 1
    }
    91% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
    to {
        transform: translate3d(-105%, 0, 0);
        opacity: 1
    }
}

.workOffcanvas_offcanvas__cxYAd {
    border-left: none !important
}

.workOffcanvas_offcanvas__cxYAd .workOffcanvas_action_wrapper__Vh5FS {
    transform: translateY(100%);
    opacity: 0;
    transition: all .2s ease
}

.workOffcanvas_offcanvas__cxYAd.show .workOffcanvas_action_wrapper__Vh5FS {
    opacity: 1;
    transition: opacity .4s ease, transform .6s cubic-bezier(.73, -.03, .28, 1.01);
    transition-delay: .3s;
    transform: none
}

.workOffcanvas_btn_case__9ym1_ {
    position: absolute;
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background: rgba(0, 0, 0, .45);
    fill: #fff
}

.workOffcanvas_btn_case__9ym1_ svg {
    width: 28px
}

.workOffcanvas_image_wrapper__sSNEL .workOffcanvas_btn_case__9ym1_ {
    transform: scale(.8);
    opacity: 0;
    transition: all .4s ease;
    will-change: transform, opacity
}

.workOffcanvas_image_wrapper__sSNEL:hover .workOffcanvas_btn_case__9ym1_ {
    transform: scale(1);
    opacity: 1
}

.workOffcanvas_tool_wrap___Ksed {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.workOffcanvas_tool_wrap___Ksed>div:first-of-type {
    flex: 1 0
}

.workOffcanvas_tool_wrap___Ksed>ul {
    display: inline-flex;
    flex: 0 0 auto
}

@media(min-width:992px) {
    .workOffcanvas_tool_wrap___Ksed>ul {
        width: auto
    }
}

.workOffcanvas_wrap_save__Cw8pF ul li:last-of-type button {
    padding-right: 0
}