.mailandContactBox_content__OENNL {
  width: 100%;
}

@media (min-width: 992px) {
  .mailandContactBox_content__OENNL {
      margin-bottom: 2.5rem;
  }
}

.mailandContactBox_content__OENNL p {
  line-height: 1.5;
}

@media (min-width: 992px) {
  .mailandContactBox_content__OENNL p {
      line-height: 1.67;
  }
}

.mailandContactBox_content__OENNL p a {
  text-decoration: underline 1px transparent;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  white-space: nowrap;
}

.mailandContactBox_content__OENNL p a:hover {
  text-decoration-color: rgb(0, 0, 0);
}

.workWithUs__work_with_us_wrapper__3OYTR {
  --border-color: #ccc;
  border-top: 1px solid var(--border-color);
  --padding-top: 2.2222222222rem;
  --padding-bottom: 5.5555555556rem;
  --margin-bottom: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding-top) 0 var(--padding-bottom);
  margin-bottom: var(--margin-bottom);
}

@media (min-width: 576px) {
  .workWithUs__work_with_us_wrapper__3OYTR {
      --padding-bottom: 2.2222222222rem;
  }
}

@media (min-width: 992px) {
  .workWithUs__work_with_us_wrapper__3OYTR {
      --padding-top: 2.1111111111rem;
      --padding-bottom: 2.7777777778rem;
  }
}

.workWithUs__action__ZTthi {
  width: 100%;
  position: relative;
  margin-top: 2.22222rem;
}

@media screen and (max-width: 565.98px) {
  .workWithUs__action__ZTthi {
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      padding: 10px 17px;
      z-index: 111;
  }
}

@media (min-width: 992px) {
  .workWithUs__action__ZTthi {
      margin-top: 1.38889rem;
  }
}

.workWithUs__action__ZTthi a {
  width: 100%;
}

@media (min-width: 576px) {
  .workWithUs__action__ZTthi a {
      width: auto;
  }
}

.workWithUs__content__47IbP {
  width: 100%;
  margin-bottom: 2.5rem;
}

.workWithUs__content__47IbP p a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
}

.workWithUs__content__47IbP p a:hover {
  opacity: 0.5;
}

.workWithUs__title__Y4Xby {
  font-size: 30px;
}

@media (min-width: 992px) {
  .workWithUs__title__Y4Xby {
      font-size: 2.77778rem;
  }
}

.projects_projects__LAuC3 {
  --margin-bottom: 2.2222222222rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: var(--margin-bottom);
}

@media (min-width: 992px) {
  .projects_projects__LAuC3 {
      --margin-bottom: 3.3333333333rem;
  }
}

.projects_projects__LAuC3 .projects_heading__fvL4O {
  width: 100%;
  padding-bottom: 0.222222rem;
}

.projects_projects__LAuC3 .projects_projects_wrapper__ai8u6 h4 {
  font-size: 1.33333rem !important;
}

.projects_projects__LAuC3 .projects_action_Wrapper__T0BSY {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.66667rem;
  bottom: 0px;
  left: 0px;
  background-color: var(--light);
  z-index: 5;
}

@media (min-width: 576px) {
  .projects_projects__LAuC3 .projects_action_Wrapper__T0BSY {
      position: relative;
      box-shadow: none;
  }
}

@media (min-width: 992px) {
  .projects_projects__LAuC3 .projects_action_Wrapper__T0BSY {
      margin-top: 3.33333rem;
  }
}

.projects_title___7YWV {
  font-size: 30px;
}

@media (min-width: 992px) {
  .projects_title___7YWV {
      font-size: 2.77778rem;
  }
}

.dynamicOffCanvas_offcanvas__7RwZB {
  --offcanvas-width: 43rem;
  --image-ratio: 47.157622739%;
  --offcanvas-padding-x: 0;
  --offcanvas-padding-y: 0;
  transition: all 0.48s ease-in-out 0s;
  border-left: none !important;
}

@media (min-width: 768px) {
  .dynamicOffCanvas_offcanvas__7RwZB {
      --offcanvas-width: 90vw;
  }
}

@media (min-width: 992px) {
  .dynamicOffCanvas_offcanvas__7RwZB {
      --offcanvas-width: 43rem;
      --image-ratio: 47.157622739%;
  }
}

@media (min-width: 1600px) {
  .dynamicOffCanvas_offcanvas__7RwZB {
      --offcanvas-width: 55.5555555556rem;
  }
}

.dynamicOffCanvas_offcanvas__7RwZB .offcanvas-header {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
}

.dynamicOffCanvas_offcanvas__7RwZB .offcanvas-header button {
  width: 2.22222rem;
  height: 2.22222rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 0.388889rem;
  top: 0px;
  opacity: 1;
  background-size: 0.833333rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(237, 237, 237, 0.77);
  transition: filter 0.3s ease-in-out 0s;
}

.dynamicOffCanvas_offcanvas__7RwZB .offcanvas-header button:hover {
  filter: invert(1);
}

.dynamicOffCanvas_offcanvas__7RwZB .offcanvas-header button:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .dynamicOffCanvas_offcanvas__7RwZB .offcanvas-header button {
      right: 0.833333rem;
  }
}

.dynamicOffCanvas_into_wrapper__mGt16 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dynamicOffCanvas_image_wrapper__L9t4Q {
  width: 100%;
  position: relative;
  margin-bottom: 1.66667rem;
  user-select: none;
}

@media (min-width: 576px) {
  .dynamicOffCanvas_image_wrapper__L9t4Q {
      margin-bottom: 2.22222rem;
  }
}

@media (min-width: 992px) {
  .dynamicOffCanvas_image_wrapper__L9t4Q {
      margin-bottom: 2.77778rem;
  }
}

.dynamicOffCanvas_image_wrapper__L9t4Q .dynamicOffCanvas_image_container__SBs38 {
  width: 100%;
  position: relative;
}

.dynamicOffCanvas_image_wrapper__L9t4Q .dynamicOffCanvas_image_container__SBs38::after {
  content: "";
  width: 100%;
  position: relative;
  padding-bottom: var(--image-ratio);
  display: flex;
}

.dynamicOffCanvas_image_wrapper__L9t4Q .dynamicOffCanvas_image_container__SBs38 img {
  object-fit: cover;
}

.dynamicOffCanvas_content_wrapper__XdCMS {
  --padding-y: 1.1111111111rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 var(--padding-y);
}

@media (min-width: 768px) {
  .dynamicOffCanvas_content_wrapper__XdCMS {
      --padding-y: 2.8rem;
  }
}

@media (min-width: 992px) {
  .dynamicOffCanvas_content_wrapper__XdCMS {
      --padding-y: 3.2222222222rem;
  }
}

.dynamicOffCanvas_content_wrapper__XdCMS .dynamicOffCanvas_intro_description__MuQR7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.66667rem;
}

@media (min-width: 992px) {
  .dynamicOffCanvas_content_wrapper__XdCMS .dynamicOffCanvas_intro_description__MuQR7 {
      margin-bottom: 2.77778rem;
  }
}

.dynamicOffCanvas_content_wrapper__XdCMS p {
  margin-bottom: 0px;
}

.dynamicOffCanvas_content_wrapper__XdCMS p~p {
  margin-top: 1.94444rem;
}

.dynamicOffCanvas_data__CV_65 {
  width: 100%;
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.45;
}