*{
  --wac-body-font-family: '__PRIMARY_FONT_e530d6', '__PRIMARY_FONT_Fallback_e530d6';
  --wac-body-font-family-secondary: '__Taviraj_bb551c', '__Taviraj_Fallback_bb551c';
  scroll-behavior: smooth;

}


/* *{
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Taviraj', serif;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#textSection {
  background-color: black;
  color: #898989;
}
 
#quote{
  font-size:44px;
  line-height:50px;
  color:#dedede;
}
#designSection{
  background-color: black;
  color: #898989;
  height: 100vh;
}


 

.desing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

}


 
.designText{
  font-size: 140px;
}

.designSectionFontSize {
  font-size: 9.666rem;
  z-index: 999;
  font-weight: 100;
}


.designSectionBodyTextStyle{
  line-height: 1.6666666667;
  font-size: 1.2222222222rem;
 
}
.videoDesign{
  scale: 3;
  position: absolute;
  right: 0;
}
.desingSectionContant{
  height: 100vh;
  filter: blur(.5px);
  position: relative;
}
.desingSectionAnchore{
  margin-left: 25px;
}
.buildDivStyle{
  position: absolute;
}



/* Add these styles to your CSS file or use inline styles */

.flySection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* The flySection will be on top */
}

.buildSection,
.marketSection {
  position: relative;
  z-index: 2; /* These sections will be behind the flySection */
}
.visible{
  opacity: 1;
}